#body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#cal{
    background-color: grey;
    width: 600px;
    height: 300px;
    padding: 20px;
}

#bmi{
    width: 600px;
    height: 100px;
    padding: 20px;
    color: white;
}

.row{
    height: 70px;
    text-align: center;
}

.col-4{
    background-color: grey;
    padding-top: 20px;
}

.col-8{
    background-color: green;
    padding-top: 20px;
}

.col-3{
    padding-top: 11px;
}

#Underweight{
    background-color: rgb(188, 188, 11);
}

#Normalweight{
    background-color: green;
}

#Overweight{
    background-color: orangered;
}

#Extraweight{
    background-color: red;
}

.calculatebtn{
    border: none;
    background-color: cadetblue;
    height: 30px;
    width: 90px;
    border-radius: 45px;
    margin:10px;
}

.calculatebtn:hover{
    background: linear-gradient(to right, red, orange);
}

.weight{
    margin: 10px;
}

.height{
    margin: 10px;
}